.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a367a0;
}

.Calculator {
  width: 25em;
  padding-bottom: .5em;
  background-color: #242424;
  border-radius: 10px;
}

.Result-Content {
  margin: .5em;
  text-align: end;
  background-color: #C2D796;
  border-radius: 10px;
  font-size: 3em;
}

.Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Buttons div button {
  height: 2em;
  width: 2em;
  margin: .3em;
  font-size: 2em;
  border: none;
  background-color: #8b5189;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: .5s;
}

.Buttons div button:hover {
  color: #bb7db7;
}

@media screen and (max-width: 380px){
  .Buttons div button {
    height: 1.5em;
    width: 1.5em;
  }
}
